<% @users.each do |user| %>
<div>
  <div>
    <h2><a href="/users/<%=user.id%>"><%= user.name %></a></h2>
    <p>
      <a href="/users/<%=user.id%>/posts/"> Number of posts: <%= user.posts_counter %></a>
    </p>
  </div>
</div>
<%end %>